<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Enter OTP</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/register.css}">
</head>
<body>
<div class="container">
    <img th:src="@{/img/logo.png}" alt="Dental Clinic Logo" class="img-fluid mb-4"> <!-- Make the logo responsive -->
    <h3 th:text="${otpMsg == null ? '' : otpMsg}" style="color: red;" class="text-center mb-3"></h3>
    <h1 class="text-center">Nhập mã OTP</h1>
    <form th:action="@{/verifyEmail/verifyOTP}" method="post">
        <input type="hidden" name="roleValue" th:value="${roleValue}">
        <input type="number" class="form-control" name="otp" placeholder="Enter OTP" required>
        <input type="hidden" name="email" th:value="${email}">
        <input type="submit" class="btn btn-primary" name="Verify OTP" value="Verify OTP">
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
