<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Enter OTP</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/register.css}">
</head>
<body style="position: relative;">
<div style="background-image: url('/img/banner.png'); background-size: cover; background-repeat: no-repeat; background-position: top center; filter: blur(1px); opacity: 0.8; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1;"></div>
<div class="container" style="position: relative; z-index: 2;">
    <img th:src="@{/img/logo.png}" alt="Dental Clinic Logo" class="img-fluid mb-4"> <!-- Make the logo responsive -->
    <h1 class="text-center">Nhập mã OTP</h1>
    <h3 th:text="${msg}" style="color:red;" class="text-center mb-3"></h3>

        <form th:action="@{/forgotPassword/verifyOTP}" method="post">
        <input type="number" class="form-control" name="otp" placeholder="Enter OTP" th:value="${otp}" required>
        <input type="hidden" name="email" th:value="${email}">
        <input type="submit" class="btn btn-primary" name="Verify OTP" value="Verify OTP">
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
