<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Icons CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <title>Set new password</title>
    <link rel="stylesheet" th:href="@{/css/set-password.css}">
</head>
<body style="position: relative;">
<div style="background-image: url('/img/banner.png'); background-size: cover; background-repeat: no-repeat; background-position: top center; filter: blur(1px); opacity: 0.8; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1;"></div>
<div class="container" style="position: relative; z-index: 2;">
    <img th:src="@{/img/logo.png}" alt="Logo">
    <h1>Quên mật khẩu</h1>
    <p>Tạo mật khẩu mới cho tài khoản của bạn</p>
    <form th:action="@{/forgotPassword/changePassword}" method="post" id="validationForm">
        <input type="hidden" name="email" th:value="${email}">
        <div class="mb-3 position-relative">
            <div class="input-group">
                <input type="password" id="password" placeholder="Mật khẩu mới" class="form-control" aria-label="Mật khẩu mới" name="password" required>
                <span class="icon">
                    <i class="fa-solid fa-lock"></i>
                </span>
            </div>
        </div>
        <div class="mb-3 position-relative">
            <div class="input-group">
                <input type="password" id="re_password" placeholder="Xác nhận mật khẩu" class="form-control" aria-label="Xác nhận mật khẩu" name="re_password" required>
                <span class="icon">
                    <i class="fa-solid fa-eye"></i>
                </span>
            </div>
        </div>
        <button type="submit" class="save-button">Xác nhận</button>
    </form>
</div>
<script th:src="@{/js/ValidateInputRePassword.js}"></script>
</body>
</html>
