<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/register.css}">
</head>
<body class="bg-light">
<div class="container-fluid">
    <div class="row justify-content-center vh-100 align-items-center" style="background-color: #f1f8e9">
        <div class="col-12">
            <div class="card p-4 shadow">
                <h1 class="text-center mb-4">Đăng ký tài khoản</h1>
                <form th:action="@{/verifyEmail/verify}" method="post" th:object="${request}" id="validationForm"
                      class="row">

                    <!-- Phần bên trái của form -->
                    <div class="col-md-6">
                        <div class="mb-3">
                            <div class="input-group">
                                <input type="text" placeholder="Họ" class="form-control" id="firstName" aria-label="Họ"
                                       th:field="*{firstName}" required>
                                <span class="input-group-text"><img th:src="@{/img/icon1.png}" alt="Edit"
                                                                    class="bxs-edit"
                                                                    style="width: 20px;"></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="input-group">
                                <input type="text" placeholder="Tên" class="form-control" id="lastName" aria-label="Tên"
                                       th:field="*{lastName}" required>
                                <span class="input-group-text"><img th:src="@{/img/icon1.png}" alt="Edit"
                                                                    class="bxs-edit"
                                                                    style="width: 20px;"></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <select class="form-select" id="gender" aria-label="Giới tính" th:field="*{gender}"
                                    required>
                                <option value="" selected>Chọn giới tính</option>
                                <option value="Nam">Nam</option>
                                <option value="Nữ">Nữ</option>
                                <option value="Khác">Khác</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <input type="date" class="form-control" id="dob" aria-label="Ngày sinh" th:field="*{dob}"
                                   required>
                        </div>
                        <div class="mb-3">
                            <div class="input-group">
                                <input type="email" id="email" placeholder="E-mail" class="form-control"
                                       aria-label="E-mail"
                                       name="email" th:field="*{email}" required>
                                <span class="input-group-text"><img th:src="@{/img/bxs-envelope1.png}" alt="Email"
                                                                    class="bxs-envelope"
                                                                    style="width: 20px;"></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="input-group">
                                <input type="text" id="phone" placeholder="Số điện thoại" class="form-control"
                                       aria-label="Số điện thoại" th:field="*{phone}" required>
                                <span class="input-group-text"><img th:src="@{/img/bxs-phone1.png}" alt="Phone"
                                                                    class="bxs-phone"
                                                                    style="width: 20px;"></span>
                            </div>
                        </div>
                        <div class="mb-3" th:if="${!roleValue.equals('Receptionist')}">
                            <div class="input-group">
                                <input type="text" id="cert" placeholder="Link chứng chỉ" class="form-control"
                                       aria-label="Chứng chỉ" th:field="*{certification}" required>
                                <span class="input-group-text"><img th:src="@{/img/icon1.png}" alt="cert"
                                                                    class="bxs-phone"
                                                                    style="width: 20px;"></span>
                            </div>
                        </div>
                    </div>

                    <!-- Phần bên phải của form -->
                    <div class="col-md-6">
                        <div class="mb-3">
                            <div class="input-group">
                                <input type="password" id="password" placeholder="Mật khẩu" class="form-control"
                                       aria-label="Mật khẩu" th:field="*{password}" required>
                                <span class="input-group-text"><img th:src="@{/img/Vector.png}" alt="Lock"
                                                                    class="vector"
                                                                    style="width: 20px;"></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="input-group">
                                <input type="password" id="re_password" placeholder="Xác nhận mật khẩu"
                                       class="form-control"
                                       aria-label="Xác nhận mật khẩu" th:field="*{re_password}" required>
                                <span class="input-group-text"><img
                                        th:src="@{/img/eye-password-see-view-svgrepo-com1.png}"
                                        alt="Eye"
                                        class="eye-password-see" style="width: 20px;"></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="input-group">
                                <input type="text" placeholder="Địa chỉ" class="form-control" aria-label="Địa chỉ"
                                       th:field="*{address}" required>
                                <span class="input-group-text"><img th:src="@{/img/Vector.png}" alt="Lock"
                                                                    class="vector"
                                                                    style="width: 20px;"></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <select class="form-select" id="branch" aria-label="Branch" th:field="*{branch_name}"
                                    required>
                                <option value="" selected>Chọn chi nhánh</option>
                                <option th:each="branch : ${branches}" th:value="${branch.getBranchName()}"
                                        th:text="${branch.getBranchName()}"></option>
                            </select>
                        </div>
                        <input type="hidden" th:value="${roleValue}" name="roleValue">
                        <div class="mb-3">
                            <div class="input-group">
                                <input type="file" placeholder="Ảnh" class="form-control" aria-label="Ảnh"
                                       th:field="*{img}">
                                <span class="input-group-text"><img th:src="@{/img/Vector.png}" alt="Lock"
                                                                    class="vector"
                                                                    style="width: 20px;"></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="input-group">
                                <input type="text" placeholder="Mô tả" class="form-control" aria-label="Mô tả"
                                       th:field="*{description}">
                                <span class="input-group-text"><img th:src="@{/img/Vector.png}" alt="Lock"
                                                                    class="vector"
                                                                    style="width: 20px;"></span>
                            </div>
                        </div>
                        <div class="mb-3" th:if="${!roleValue.equals('Receptionist')}">
                            <div class="input-group">
                                <input type="text" id="spec" placeholder="Link bằng cấp" class="form-control"
                                       aria-label="Bằng cấp" th:field="*{specification}" required>
                                <span class="input-group-text"><img th:src="@{/img/icon1.png}" alt="spec"
                                                                    class="bxs-phone"
                                                                    style="width: 20px;"></span>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary mx-auto d-block" type="submit" style="height: 50px; width: 20%">
                        Register
                    </button>
                </form>
                <div class="already-have-an text-center mt-3">
                    <span class="span">Already have an account?</span>
                    <a th:href="@{/login}" class="text-primary text-decoration-none">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{https://kit.fontawesome.com/87d2440b4a.js}" crossorigin="anonymous"></script>
<script th:src="@{/js/ValidateRegisterInput.js}"></script>
</body>


</html>