<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phiếu Đăng Ký Khám</title>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.21.1/bootstrap-table.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.21.1/bootstrap-table.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/examRegistration.css}">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">

</head>
<body>

<div class="d-flex">
    <aside th:replace="~{/layout/dashboardNav :: sidebar}"></aside>
    <div class="main">
        <nav th:replace="~{/layout/dashboardHeader :: header}"></nav>

        <!-- Phiếu Đăng Ký Khám -->
        <div class="registration-form shadow">
            <h2>Phiếu Đăng Ký Khám</h2>

            <!-- Form Thông Tin Bệnh Nhân -->
            <form th:action="@{/chooseDoctor}" method="post" th:object="${request}">
                <div class="mb-3">
                    <h4>Thông tin bệnh nhân</h4>
                </div>
                <div class="row g-3">
                    <div class="col-md-6">
                        <label for="firstName" class="form-label">Họ*</label>
                        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Họ"
                               th:field="*{firstName}" required>
                    </div>
                    <div class="col-md-6">
                        <label for="lastName" class="form-label">Tên*</label>
                        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Tên"
                               th:field="*{lastName}" required>
                    </div>
                    <div class="col-md-6">
                        <label for="email" class="form-label">Email*</label>
                        <input type="email" class="form-control" id="email" placeholder="Email" th:field="*{email}"
                               name="email" required>
                    </div>
                    <div class="col-md-6">
                        <label for="phone" class="form-label">Số điện thoại*</label>
                        <input type="text" class="form-control" id="phone" placeholder="Số điện thoại"
                               th:field="*{phone}" name="phone" required>
                    </div>
                    <div class="col-md-6">
                        <label for="dob" class="form-label">Ngày sinh*</label>
                        <input type="date" class="form-control" id="dob" th:field="*{dob}" name="dob" required>
                    </div>
                    <div class="col-md-6">
                        <label for="gender" class="form-label">Giới tính*</label>
                        <select class="form-select" id="gender" aria-label="Giới tính" th:field="*{gender}" required>
                            <option value="" selected>Chọn giới tính</option>
                            <option value="Nam">Nam</option>
                            <option value="Nữ">Nữ</option>
                            <option value="Khác">Khác</option>
                        </select>
                    </div>
                </div>

                <hr class="my-4" style="color: #00BCD4; height: 4px">

                <!-- Form Thông Tin Đăng Ký Khám -->
                <div class="mb-3">
                    <h4>Thông tin đăng ký khám bệnh</h4>
                </div>
                <div class="row g-3">
                    <div class="col-12">
                        <label for="reason" class="form-label">Mô tả nguyên nhân khám</label>
                        <textarea class="form-control" id="reason" placeholder="Mô tả nguyên nhân khám"
                                  th:field="*{reason}" name="reason" rows="3"></textarea>
                    </div>

                    <div class="col-md-4">
                        <label for="date" class="form-label">Ngày đăng ký khám*</label>
                        <input type="date" class="form-control" id="date" th:field="*{examRegisterDate}" name="date"
                               required>
                    </div>
                    <div class="col-md-4">
                        <label for="shift" class="form-label">Chọn ca*</label>
                        <select class="form-select" id="shift" aria-label="Chọn ca" th:field="*{shift}" required>
                            <option value="" selected>Chọn ca</option>
                            <option value="morning">Sáng (7h15 – 11h30)</option>
                            <option value="afternoon">Chiều (13h45 – 19h)</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="clinic" class="form-label">Cơ sở khám*</label>
                        <select class="form-select" id="clinic" aria-label="Cơ sở khám" th:field="*{branchName}"
                                required>
                            <option value="" selected>Chọn cơ sở</option>
                            <option th:each="branch : ${branchList}" th:text="${branch.getBranchName()}"
                                    th:value="${branch.getBranchName()}">Nam
                            </option>
                        </select>
                    </div>
                    <div class="col-12">
                        <label for="note" class="form-label">Ghi chú</label>
                        <textarea class="form-control" id="note" placeholder="Ghi chú" name="note" th:field="*{note}"
                                  rows="2"></textarea>
                    </div>
                </div>

                <div class="d-grid gap-2 mt-4">
                    <button class="btn btn-primary btn-lg" type="submit">Đăng ký khám</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/js/dashboard.js}"></script>
<script th:src="@{/js/validateExamRegistration.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>
