
.card {
    border-radius: 8px;
}

.table th {
    background-color: #f8f9fa;
    font-weight: 600;
}

.btn-group .btn {
    padding: 0.25rem 0.5rem;
}

.badge {
    padding: 0.5em 0.8em;
}

.form-control:focus {
    box-shadow: none;
    border-color: #4abcd5;
}

.pagination .page-link {
    padding: 0.5rem 0.75rem;
    border: #4abcd5;
    color: #4abcd5;

}
.pagination .page-link:hover {
    padding: 0.5rem 0.75rem;
    background-color: #4abcd5;
    color: white;

}


.modal-content {
    border-radius: 8px;
}

.image-upload-container {
    min-height: 200px;
    background-color: #f8f9fa;
    border: 2px dashed #dee2e6 !important;
    transition: all 0.3s ease;
}

.image-upload-container:hover {
    border-color: #4abcd5 !important;
    background-color: #f1f8ff;
}

.upload-label {
    padding: 2rem;
}

.cursor-pointer {
    cursor: pointer;
}

.img-preview {
    transition: transform 0.3s ease;
}

.img-preview:hover {
    transform: scale(1.05);
}

.form-floating > .form-control:focus,
.form-floating > .form-control:not(:placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label {
    opacity: .65;
    transform: scale(.85) translateY(-0.5rem) translateX(0.15rem);
}

.modal-content {
    border-radius: 1rem;
}

.modal-header {
    border-radius: 1rem 1rem 0 0;
}

.form-check-input:checked {
    background-color: #4abcd5;
    border-color: #4abcd5;
}
h6 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
    font-size: 40px;

}
.btn-add {
    background-color: #4abcd5;
    color: white;
}
.btn-add:hover {
    color: #4abcd5;
    border-color: #4abcd5;
}
.btn-search{
    background-color: #4abcd5;
    color: white;
}
.btn-search:hover {
    color: #4abcd5;
    border-color: #4abcd5;
}
.btn-detail{
    background-color: #4abcd5;
    color: white;
}
.btn-edit{
    color: #4abcd5;
    border-color: #4abcd5;
}
.btn-detail:hover{
    color: #4abcd5;
    border-color: #4abcd5;
}
.btn-edit:hover{
    background-color: #4abcd5;
    color: white;
}
.btn-save {
    background: #4abcd5;
    color: white;
}

.btn-save:hover {
    background: #4abcd5;
    color: white;
    transform: translateY(-2px);
}
.active>.page-link{
    background-color: #4abcd5;
    color: white;
}
.bg-primary {
    --bs-bg-opacity: 1;
    background-color: #4abcd5 !important;
}

