
.search {
        margin-bottom: 20px;
}
.table {
    margin-bottom: 20px;
}

.table-action-icons {
    cursor: pointer;
}

.editIcon {
    margin-right: 10px;
}

.deleteIcon {
    margin-right: 10px;
    padding: 5px;

}

.pagination .page-item .page-link {
    color: #00BCD4;
}

td.checkbox_column {
    text-align: center;
    vertical-align: middle;
}
#checkbox_active {
    margin: 0 auto;
    display: block;
}

.pagination .page-item.active .page-link {
    background-color: #00BCD4;
    color: white;
}
