/* Style for newPassword */
body {
    background-color: #f1f3f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Arial", sans-serif;
}
.container {
    background-color: #fff;
    border-radius: 12px;
    padding: 40px 30px;
    max-width: 400px;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.container img {
    width: 60px;
    margin-bottom: 15px;
}
h1 {
    font-size: 24px;
    font-weight: 600;
    margin: 15px 0;
    color: #333;
}
p {
    color: #6c757d;
    font-size: 14px;
    margin-bottom: 30px;
}
.form-control {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(76, 183, 169, 0.25);
    border-color: #4cb7a9;
}
.input-group-text {

    background-color: white;
    border: none;
    position: relative;
    right: 45px;
    cursor: pointer;
    padding: 0;

}
.icon{
    position: absolute;
    border-radius: 50px;
    top: 12px;
    right: 10px;
}
.input-group-text i {
    color: #6c757d;
}
.save-button {
    width: 100%;
    background-color: #4cb7a9;
    color: white;
    border: none;
    border-radius: 50px;
    height: 45px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}
.save-button:hover {
    background-color: #3ba394;
}

.input-group .input-group-text {
    right: 10px;

    top: 50%;
    transform: translateY(-50%);
    padding: 0 10px;
    background-color: transparent;
    border: none;
}