<html lang="vi" xmlns:th="http://www.thymeleaf.org">
        <head>
            <meta charset="UTF-8">
            <title>Hóa Đơn</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        </head>
        <body>
        <div class="container">
            <h2 class="text-center" style="background-color: #00BCD4">Hóa Đơn</h2>

            <div class="row">
                <div class="col-md-6">
                    <h4>Thông Tin Khách Hàng</h4>
                    <p><strong>Tên:</strong> <span th:text="${patient.getLastName()}+ ' ' +${patient.getFirstName()}"></span></p>
                    <p><strong>Giới Tính:</strong> <span th:text="${patient.getGender()}"></span></p>
                    <p><strong>Ngày Sinh:</strong> <span th:text="${patient.getDob()}"></span></p>
                    <p><strong>Địa Chỉ:</strong> <span th:text="${patient.getAddress()}"></span></p>
                    <p><strong>Số Điện Thoại:</strong> <span th:text="${patient.getPhone()}"></span></p>
                    <p><strong>Email:</strong> <span th:text="${patient.getEmail()}"></span></p>
                    <p><strong>Lịch Sử Bệnh:</strong> <span th:text="${patient.getMedicalHistory()}"></span></p>
                </div>
                <div class="col-md-6 text-right">
                    <h4>Thông Tin Hóa Đơn</h4>
                    <p><strong>Số Hóa Đơn:</strong> <span th:text="${uuid}"></span></p>
                    <p><strong>Ngày:</strong> <span th:text="${date}"></span></p>
                </div>
            </div>

            <!-- Services Table -->
            <table class="table table-bordered">
                <thead style="background-color: #00BCD4">
                <tr>
                    <th>Tên Dịch Vụ</th>
                    <th>Đơn Giá</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="service : ${recordServices}">
                    <td th:text="${service.getService().getServiceName()}"></td>
                    <td th:text="${service.getService().getPrice()}"></td>
                </tr>
                </tbody>
            </table>

            <!-- Medicines Table -->
            <table class="table table-bordered">
                <thead style="background-color: #00BCD4">
                <tr>
                    <th>Tên Thuốc</th>
                    <th>Đơn Giá</th>
                    <th>Số Lượng</th>
                    <th>Thành tiền</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="medicine : ${recordMedicines}">
                    <td th:text="${medicine.getRegNumber().getMedicineName()}"></td>
                    <td th:text="${medicine.getRegNumber().getPrice()}"></td>
                    <td th:text="${medicine.getQuantity()}"></td>
                    <td th:text="${medicine.getRegNumber().getPrice()*medicine.getQuantity()}"></td>
                </tr>
                </tbody>
            </table>

            <form th:action="@{/recep/payment}" method="post">
                <!-- Các trường ẩn để gửi dữ liệu -->
                <input type="hidden" name="patient" th:value="${patient.getPatientId()}"/>
                <input type="hidden" name="uuid" th:value="${uuid}"/>
                <input type="hidden" name="date" th:value="${date}"/>
                <input type="hidden" name="totalAmount" th:value="${totalAmount}"/>
                <input type="hidden" name="recordId" th:value="${record.getRecordId()}"/>

                <div class="d-flex justify-content-between align-items-center">
                    <h4 class="text-right">Tổng Tiền: <strong th:text="${totalAmount}"></strong></h4>
                    <div class="ml-3">
                        <h4>Phương Thức Thanh Toán</h4>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="paymentMethod" id="cash" value="cash" required>
                            <label class="form-check-label" for="cash">Tiền Mặt</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="paymentMethod" id="creditCard" value="creditCard">
                            <label class="form-check-label" for="creditCard">Chuyển khoản</label>
                        </div>
                    </div>
                </div>

                <div class="text-begin">
                    <a th:href="@{/recep/patientList}" class="btn btn-primary">Quay lại</a>
                    <button type="submit" class="btn btn-primary">Thanh toán</button>
                </div>
            </form>
            <div th:if="${successMessage}" class="alert alert-success" th:text="${successMessage}"></div>
            <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        </body>
        </html>
