 <!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" th:href="@{/css/edit_profile.css}">

</head>
<body>
<header>
    <div class="container-header">
        <div class="logo">
            <img th:src="@{/img/logo.png}" alt="Dental Clinic Logo"/>
        </div>
        <nav>
            <ul>
                <li><a href="#">Danh sách bệnh nhân</a></li>
                <li><a href="landing_page.html">Giới thiệu</a></li>
                <li><a href="#">Trợ giúp</a></li>
                <li><a href="#">Liên hệ</a></li>
            </ul>
        </nav>
        <div class="lang-login">
            <button>**Tiếng Việt**</button>
            <button>Đăng xuất</button>
        </div>
    </div>
</header>

<div class="container">
    <div class="sidebar">
        <div class="user-info">
            <img th:src="@{/img/avt.jpg}" alt="User Icon" class="user-icon">
            <h2 th:text="${employee.getFirst_name() + ' ' + employee.getLast_name()}"></h2>
        </div>
        <ul class="menu">
            <li class="menu-item">
                <a th:href="@{/profile}" >Tài khoản</a></li>
            <li class="menu-item active">Sửa thông tin cá nhân</li>
            <li class="menu-item">
                <a th:href="@{/changePass}" >Đổi mật khẩu</a>
            </li>
        </ul>
    </div>
    <div class="profile">
        <h1>Chỉnh sửa thông tin cá nhân</h1>
        <form>
            <div class="form-col">
                <div class="form-group">
                    <label for="name">Họ và tên</label>
                    <input type="text" id="name" placeholder=""
                           th:value="${employee.getFirst_name() + ' ' + employee.getLast_name()}" required>
                </div>
                <div class="form-group">
                    <label for="gender">Giới tính</label>
                    <select id="gender" required>
                        <option value="male" th:selected="${employee.getGender() == 'male'}">Nam</option>
                        <option value="female" th:selected="${employee.getGender() == 'female'}">Nữ</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="dob">Ngày sinh</label>
                    <input type="text" id="dob" placeholder="dd/mm/yy"
                           th:value="${employee.getDob()}" required>
                </div>
                <div class="form-group">
                    <label for="position">Chức vụ</label>
                    <select id="position" required>
                        <option value="doctor" th:selected="${employee.getRole().getRoleName() == 'doctor'}">Bác sĩ</option>
                        <option value="nurse" th:selected="${employee.getRole().getRoleName() == 'nurse'}">Y tá</option>
                        <option value="admin" th:selected="${employee.getRole().getRoleName() == 'admin'}">Quản trị</option>
                    </select>
                </div>
            </div>
            <div class="form-group1">
                <label for="address">Địa chỉ</label>
                <input type="text" id="address" placeholder=""
                       th:value="${employee.getAddress()}" required>
            </div>
            <div class="form-group1">
                <label for="phone">Số điện thoại</label>
                <input type="text" id="phone" placeholder=""
                       th:value="${employee.getPhone()}" required>
            </div>
            <div class="buttons">
                <button type="button" class="cancel-button">Hủy</button>
                <button type="submit" class="save-button">Lưu</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>