<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Enter Email</title>
    <link rel="stylesheet" th:href="@{/css/register.css}">
</head>
<body>
<div class="container">
    <img th:src="@{/img/logo.png}" alt="Dental Clinic Logo">
    <h1>Nhập tài khoản email của bạn</h1>
    <form th:action="@{/forgotPassword/verify}" method="post">
    <input type="email" name="email" placeholder="Email">
    <input type="submit" name="Submit">
</form>
</div>
</body>
</html>