<header>
    <div class="header-container">
        <div class="logo">
            <img th:src="@{/img/logo.png}" alt="Dental Clinic Logo">
        </div>
        <nav>
            <ul>
                <li><i class="fa-brands fa-youtube"></i></li>
                <li><a href="#">Tính năng</a></li>
                <li><a href="#">Giới thiệu</a></li>
                <li><a href="#">Trợ giúp</a></li>
                <li><a href="#">Liên hệ</a></li>
            </ul>
        </nav>
        <div th:if="${loginSuccess == null}">
            <a th:href="@{/login}">
                <button class="login-button">Đăng nhập</button>
            </a>
        </div>
        <div th:if="${loginSuccess != null}">
            <a th:href="@{/profile}">
                <button class="login-button"
                        th:text="${'Hello ' + employee.getFirst_name() + ' ' + employee.getLast_name()}"></button>
            </a>
          <a th:href="@{/logout}">
            <button class="login-button">Đăng xuất</button>
          </a>
        </div>
    </div>
</header>