<header>
  <div class="container">
    <div class="logo">
      <img th:src="@{/img/logo.png}" alt="Dental Clinic Logo">
    </div>
    <nav>
      <ul>
        <li><i class="fa-brands fa-youtube"></i></li>
        <li><a href="#">Tính năng</a></li>
        <li><a href="#">Giới thiệu</a></li>
        <li><a href="#">Trợ giúp</a></li>
        <li><a href="#">Liên hệ</a></li>
      </ul>
    </nav>
    <form th:action="@{/login}" method="get">
      <button  class="login-button"  type="submit">Đăng nhập</button>
    </form>
  </div>
</header>