<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dental Clinic</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
  <div class="container">
    <div class="logo">
      <img th:src="@{/img/logo.png}" alt="Dental Clinic Logo">
    </div>
    <nav>
      <ul>
        <li><i class="fa-brands fa-youtube"></i></li>
        <li><a href="#">Tính năng</a></li>
        <li><a href="#">Giới thiệu</a></li>
        <li><a href="#">Trợ giúp</a></li>
        <li><a href="#">Liên hệ</a></li>
      </ul>
    </nav>
    <div th:if="${loginSuccess == null}">
      <a th:href="@{/login}"><button  class="login-button">Đăng nhập</button></a>
    </div>
    <div th:if="${loginSuccess != null}">
      <a th:href="@{/profile}"><button  class="login-button" th:text="${'Hello ' + employee.getFirst_name() + ' ' + employee.getLast_name()}"></button></a>
    </div>
    <div>
      <a th:href="@{/logout}"><button class="login-button">Đăng xuất</button></a>
    </div>
  </div>
</header>

<section class="hero">
  <div class="hero-content">
    <img th:src="@{/img/banner.png}"alt="Dental Clinic Banner" class="hero-banner">
    <form th:action="@{/register}" method="get">
      <button class="cta-button" type="submit">Đăng ký ngay</button>
    </form>
<!-- <a href="#" class="cta-button">Đăng ký ngay</a>&ndash;&gt;-->
</div>-->
</section>

<section class="features">
  <h2>Những tính năng nổi bật của Dental Clinic</h2>
  <div class="feature-list">
    <div class="feature-item">

      <img th:src="@{/img/image1.png}"  alt="Quản lý bệnh án điện tử">
      <h3>Quản lý bệnh án điện tử</h3>
      <p>Hỗ trợ sổ bệnh án được số hóa chi tiết đầy đủ, dữ liệu được sắp xếp và hiển thị thông minh: Thông tin hành chính, Chuẩn đoán lâm sàng, Hình ảnh, Kế hoạch và tiến trình điều trị.</p>
    </div>
    <div class="feature-item">
      <img th:src="@{/img/image2.png}" alt="Quản lý khách hàng">
      <h3>Quản lý khách hàng</h3>
      <p>Phân loại thông tin khách hàng chính xác và bộ lọc thông minh: Nhóm, Nguồn khách hàng, Nghề nghiệp, Tiểu sử bệnh lý...Giúp phòng khám nâng cao dịch vụ.</p>
    </div>
    <div class="feature-item">
      <img th:src="@{/img/image3.png}" alt="Quản lý lịch hẹn">
      <h3>Quản lý lịch hẹn</h3>
      <p>Quản lý và sắp xếp lịch hẹn đa chiều, chính xác cùng tính năng cảnh báo điểm nóng hỗ trợ phòng khám tối ưu hoạt động điều phối và nâng cao năng suất hoạt động trên mỗi ghế khám.</p>
    </div>
  </div>
</section>
</body>
</html>
