<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/register.css}">
    <title>Set new password</title>
</head>
<body>
<form th:action="@{/forgotPassword/changePassword}" method="post" id="validationForm">
    <input type="hidden" name="email" th:value="${email}">
    <div class="mb-3">
        <div class="input-group">
            <input type="password" id="password" placeholder="Mật khẩu" class="form-control" aria-label="Mật khẩu" name="password" required>
            <span class="input-group-text"><img th:src="@{/img/Vector.png}" alt="Lock" class="vector"
                                                style="width: 20px;"></span>
        </div>
    </div>
    <div class="mb-3">
        <div class="input-group">
            <input type="password" id="re_password" placeholder="Xác nhận mật khẩu" class="form-control"
                   aria-label="Xác nhận mật khẩu" name="re_password" required>
            <span class="input-group-text"><img th:src="@{/img/eye-password-see-view-svgrepo-com1.png}"
                                                alt="Eye"
                                                class="eye-password-see" style="width: 20px;"></span>
        </div>
    </div>

    <div class="buttons">
        <button type="submit" class="save-button">Save</button>
        <button type="reset" class="cancel-button">Cancel</button>
    </div>
</form>
<script th:src="@{/js/ValidateRegisterInput.js}"></script>
</body>
</html>