<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/static/profile.css">

</head>
<body>
<header>
    <div class="container-header">
        <div class="logo">
            <img src="/static/img/logo.png" alt="Dental Clinic Logo">
        </div>
        <nav>
            <ul>
                <li><a href="#">Danh sách bệnh nhân</a></li>
                <li><a href="landing_page.html">Giới thiệu</a></li>
                <li><a href="#">Trợ giúp</a></li>
                <li><a href="#">Liên hệ</a></li>
            </ul>
        </nav>
        <div class="lang-login">
            <button>**Tiếng Việt**</button>
            <button>Đăng xuất</button>
        </div>
    </div>
</header>

<div class="container">
    <div class="sidebar">
        <div class="user-info">
            <img src="/static/img/avt.jpg" alt="User Icon" class="user-icon">
            <h2>Đỗ Khắc Nam</h2>
        </div>
        <ul class="menu">
            <li class="menu-item active">Tài khoản</li>
            <li class="menu-item">Sửa thông tin cá nhân</li>
            <li class="menu-item">Đổi mật khẩu</li>
        </ul>
    </div>
<div class="profile">
    <h1>Thông tin cá nhân</h1>
    <form>
        <div class="form-col">
            <div class="form-row">
                <label>Họ và tên: </label>
                <span>Đỗ Khắc Nam</span>
            </div>
            <div class="form-row">
                <label>Giới tính: </label>
                <span>Nam</span>
            </div>
            <div class="form-row">
                <label>Ngày sinh: </label>
                <span>24/01/2024</span>
            </div>
            <div class="form-row">
                <label>Chức vụ: </label>
                <span>Bác sĩ</span>
            </div>

            <div class="form-row">
                <label>Số điện thoại: </label>
                <span>0900000000</span>
            </div>
            <div class="form-row">
                <label>Email: </label>
                <span>abcxyz@gmail.com</span>
            </div>

        </div>
        <div class="form-row">
        <label>Địa chỉ: </label>
        <span>xxx, xxx, xxx, xxxxxxxxxxxxxxxxxxxxxxxxxxxxx</span>
    </div>
    </form>

</div>
</div>

</body>
</html>