<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <title>Dental Clinic</title>
    <link rel="stylesheet" th:href="@{/css/register.css}">
</head>
<body>
<div class="container">
    <img th:src="@{/img/logo.png}" alt="Dental Clinic Logo">
    <h1>Chọn nghiệp vụ của bạn</h1>
    <form th:action="@{/nextRegister}" method="post">
        <select id="role" name="role">
            <option th:each="role : ${roles}" th:value="${role.getRoleName()}" th:text="${role.getRoleName()}" ></option>
        </select>
        <button type="submit">Tiếp tục</button>
    </form>
</div>
</body>
</html>